body {
  background-color: #ffffff; }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .grid .item {
    width: 20%;
    height: 250px;
    margin: 10px 0px; }
    @media (max-width: 1050px) and (min-width: 601px) {
      .grid .item {
        width: 25%; } }
    @media (max-width: 800px) {
      .grid .item {
        width: 33.33%; } }
    @media (max-width: 600px) {
      .grid .item {
        width: 100%; } }
    .grid .item:nth-of-type(6n+1) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #56c7fa;
      margin: 10px; }
    .grid .item:nth-of-type(6n+2) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #f76540;
      margin: 10px; }
    .grid .item:nth-of-type(6n+3) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #ffcb05;
      margin: 10px; }
    .grid .item:nth-of-type(6n+4) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #62cd9f;
      margin: 10px; }
    .grid .item:nth-of-type(6n+5) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #b67baa;
      margin: 10px; }
    .grid .item:nth-of-type(6n+6) .content .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #c299ff;
      margin: 10px; }
    .grid .item .content {
      height: 100%;
      color: white;
      font-weight: bold; }
      .grid .item .content .content-wrapper .name {
        font-size: 1.5em; }
      .grid .item .content .content-wrapper .career {
        font-size: 0.7em;
        padding: 10px;
        font-style: italic; }
      .grid .item .content .content-wrapper .social {
        font-size: 0.7em;
        padding: 0px 10px; }
      .grid .item .content .content-wrapper .other {
        font-size: 0.7em;
        padding: 0px 10px; }

.App .title {
  width: 100%;
  text-align: center; }

.search {
  width: 100%;
  text-align: center; }
  .search input {
    width: 80%;
    height: 50px; }
