body {
  background-color: #ffffff; }

.b-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .b-grid .item {
    width: 20%;
    height: 250px;
    margin: 10px 0px; }
    @media (max-width: 1050px) and (min-width: 601px) {
      .b-grid .item {
        width: 25%; } }
    @media (max-width: 800px) {
      .b-grid .item {
        width: 33.33%; } }
    @media (max-width: 600px) {
      .b-grid .item {
        width: 100%; } }
    .b-grid .item:nth-of-type(8n+1) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #56c7fa;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+2) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #f76540;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+3) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #ffcb05;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+4) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #62cd9f;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+5) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #b67baa;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+6) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #c299ff;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+7) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #B5D6D6;
      margin: 10px; }
    .b-grid .item:nth-of-type(8n+8) .b-content .b-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 100%;
      width: auto;
      background-color: #FBBFCA;
      margin: 10px; }
    .b-grid .item .b-content {
      height: 100%;
      color: white;
      font-weight: bold; }
      .b-grid .item .b-content .b-content-wrapper .name {
        font-size: 1.5em; }
      .b-grid .item .b-content .b-content-wrapper .career {
        font-size: 0.7em;
        padding: 10px;
        font-style: italic; }
      .b-grid .item .b-content .b-content-wrapper .social {
        font-size: 0.7em;
        padding: 0px 10px; }
      .b-grid .item .b-content .b-content-wrapper .other {
        font-size: 0.7em;
        padding: 0px 10px; }

.App {
  width: 100%; }
  .App .title {
    width: 100%;
    text-align: center; }

.b-search {
  width: 100%;
  text-align: center; }
  .b-search input {
    width: 80%;
    height: 50px; }
