.b-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
 
    .item{
        width: 20%;
        height: 250px;
        margin: 10px 0px;
        @media (max-width:1050px) and (min-width:601px) {
            width: 25%;
        }

        @media (max-width:800px)  {
            width: 33.33%;
        }

        @media (max-width:600px) {
            width: 100%;
        }

        $chartColors: #56c7fa, #f76540, #ffcb05, #62cd9f, #b67baa, #c299ff, #B5D6D6, #FBBFCA;
        // @for $i from 1 through length($chartColors) {
        //     $chartColors: append($chartColors, darken(nth($chartColors, $i), 25));
        // }
        $chartColorsLength: length($chartColors);
    
        @for $i from 1 through $chartColorsLength {
            &:nth-of-type(#{$chartColorsLength}n+#{$i}) {
               
                .b-content{
                    .b-content-wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        height: 100%;
                        width: auto;
                        background-color: nth($chartColors, $i); 
                        margin: 10px;

                    }     
                }
            }
            // .person-color-#{$i}{
            //     background-color: nth($chartColors, $i);      
            // }
        }

        .b-content{
            height: 100%;
            //margin: 10px;
            color: white;
            font-weight: bold;
           

            .b-content-wrapper{
                .name{
                    font-size: 1.5em;
                }
                .career{
                    font-size: 0.7em;
                    padding: 10px;
                    font-style: italic;
                }
                .social{
                    font-size: 0.7em;
                    padding: 0px 10px;
                }
                .other{
                    font-size: 0.7em;
                    padding: 0px 10px;
                }
            }
            
        }
       
        

        
    }
  }
  
.App{
    .title{
        width: 100%;
        text-align: center;
    }
    width: 100%;

}

  .b-search{
        width: 100%;
        text-align: center;
        input{
            width: 80%;
            height: 50px;
        }
  }